:host {
  display: flex;
  height: 100%;

  .food-card {
    cursor: pointer;
    margin-bottom: 24px;

    img {
      height: 220px;
      object-fit: cover;
    }

    .mat-card-title {
      margin-bottom: 16px;
      font-size: 20px;
    }

    &:hover {
      .mat-card-title {
        color: #673ab7;
      }
    }

    &__rating {
      mat-icon {
        color: #666;
      }

      p {
        color: #666;
        font-size: 18px;
        margin-bottom: 0;
        padding-left: 4px;
      }
    }
  }
}
