<div class="food-card" (click)="goToDetails(item.id)">
  <img [defaultImage]="defaultImage" [lazyLoad]="item.photo" alt="Food Image" />

  <div class="food-card__content">
    <h2 class="food-card__title">{{item.name}}</h2>
    <!-- <p>
      {{itemDetail.description}}
    </p> -->
    <h4>
      {{item.restaurantName}}
    </h4>
    <div class="food-card__rating d-flex align-items-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
      <p>{{item.rating}}</p>
    </div>
  </div>
</div>
