@import "~bootstrap/scss/bootstrap-grid.scss";


:host {
  mat-toolbar {
    display: flex;
    justify-content: space-between;

  }

  .filter-btn {
    display: block;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
