:host {

  .filters {
    height: 80vh;
    position: sticky;
    top: 1rem;
    padding-right: 1rem;
    border-right: 4px solid #EEF0F2;
  }

  ul {
    list-style: none;
    padding-left: 24px;
  }
}
