@import "~bootstrap/scss/bootstrap-grid.scss";

:host {
  .filters {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60vw;

    @include media-breakpoint-up(lg) {
      width: auto;
      height: 80vh;
      position: sticky;
      top: 9rem;
      border-right: 4px solid #EEF0F2;
      padding-left: 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 24px;
  }
}
