<div class="filters pt-4">
  <h2 class="pl-2">Filters</h2>
  <hr />

  <h3 class="pl-3">Meal types</h3>
  <ul>
    <li *ngFor="let type of mealTypes">
      <mat-checkbox [(ngModel)]="type.selected" (ngModelChange)="updateFilter()" color="primary">
        {{type.name}}
      </mat-checkbox>
    </li>
  </ul>
  <hr />

  <h3 class="pl-3">Food types</h3>
  <ul>
    <li *ngFor="let type of foodTypes">
      <mat-checkbox [(ngModel)]="type.selected" (ngModelChange)="updateFilter()" color="primary">
        {{type.name}}</mat-checkbox>
    </li>
  </ul>
  <hr />
</div>
