@import "~bootstrap/scss/bootstrap-grid.scss";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  mat-drawer-container {
    flex: 1;
  }

  .menu-list {
    max-width: 2000px;
    margin: 0 auto;

    &-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__filters {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}
