@import "~bootstrap/scss/bootstrap-grid.scss";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  mat-drawer-container {
    flex: 1;
  }

  .menu-list {
    max-width: 1900px;
    margin: 0 auto;

    &-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__filters {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    &__mobile {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    ::ng-deep sw-item-list {
      .list-custom {
        width: 100%;
        position: relative;
      }

      .mark {
        display: none;
      }

      ::ng-deep .options-btn {
        right: 0;
        padding: 0;
        height: 100%;
        transform: none;

        &.active {
          transform: none;
        }

        .option-list {
          color: #fff;
          background: #673ab7;
          display: flex;
          align-items: center;
          justify-content: center;

          h4 {
            margin: 0;
          }
        }
      }
    }
  }
}
