:host {
  .menu-list {
    max-width: 2000px;
    margin: 0 auto;

    &-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__terms {
      &--sort {
        width: auto;

        h3 {
          color: #673ab7;
          font-weight: 500;
          padding-right: 10px;
        }

        ::ng-deep .mat-select {
          width: 80px;
          font-size: 16px;

          &:first-of-type {
            margin-right: 10px;
          }

          span {
            color: #673ab7;
            font-weight: 500;
          }
        }
      }
    }
  }
}
