<div>
  <app-search-bar (valueChanged)="onKeyTermAdded($event)"></app-search-bar>

  <div class="menu-container px-3 pt-2 pb-4">
    <div class="row">
      <div class="col-lg-3">
        <app-filters></app-filters>
      </div>

      <div class="col-lg-9">
        <div class="menu-item-list pt-4 px-2 px-lg-3 px-xl-4">
          <div class="search-terms" *ngIf="terms">
            <div class="d-flex align-items-center">
              <h2 class="mb-0">Results for {{terms}}</h2>

              <button mat-icon-button aria-label="button for cancel" color="primary"
                (click)="clearSearch()">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <hr />
          </div>

          <div class="menu-scroll" infinite-scroll [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollThrottle]="throttle" (scrolled)="onScrollEnd()">

            <div class="row" *ngIf="items">
              <div class="col-lg-6 col-xl-4" *ngFor="let item of items | async">
                <app-menu-card [item]="item"></app-menu-card>
              </div>
            </div>
          </div>

          <mat-progress-spinner mode="indeterminate" diameter="30"
            *ngIf="getItemsIsExecuting | async">
          </mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
