@import "~bootstrap/scss/bootstrap-grid.scss";

:host {
  display: block;
  min-height: 100%;
  background-color: #fafafa;

  .mat-icon-button {
    width: auto;
    font-size: 18px;
  }

  .item-detail {
    img {
      width: 100%;
      height: 240px;
      object-fit: cover;
      border-radius: 0.5rem;

      @include media-breakpoint-up(lg) {
        width: 400px;
        height: 400px;
      }
    }

    &__content {
      margin-top: 1.5rem;
      padding-bottom: 2rem;

      @include media-breakpoint-up(md) {
        margin-top: 0;
        padding-bottom: 1rem;
      }
    }

    &__mobile {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}
